* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Roboto',sans-serif;
}



nav{
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    padding: 22px;
}

ul{
    margin-right: 45px;
}

nav ul li{
    list-style: none;

}

ul li a{
    margin-inline: 22px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

ul li i{
    font-size: 22px;
}
