* {
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family:  sans-serif;
}

 

nav #logofont{
    font-family: "sofia",sans-serif !important;
    font-size: larger;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    padding: 17px;
    height: 30px;
    box-shadow: 0px 2px 2px 2px rgb(222, 217, 217);
}

ul{
    margin-right: 45px;
    margin-top: 7px;
}

nav ul li{
    list-style: none;

}

nav .logo{
    margin-left: 22px;
    font-size: 24px;
   
}




ul li a{
    margin-inline: 22px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    cursor: pointer;
}

ul li i{
    font-size: 22px;
}


body{
    background-color: #eeee;
}

ul li #home {
    color: rgb(78, 214, 214);
}

ul li a:hover{
    border-bottom: 2px solid black;
    transition: ease-in;
}

ul li i:hover{
    color: gray;
    cursor: pointer;
}


/* main css  */

.main{
    display: flex;
    justify-content: space-around;
    height: 92vh;

}

.main .maintext{
    margin-top: 144px;
    font-size: 24px;
}

.maintext h1{
    font-size: 64px;
}

.top{
    color:rgb(6, 127, 127);

}

.maintext button{
    width: 145px;
     height: 40px;
     background-color: rgb(6, 127, 127);
     border: none;
     font-size: 22px;
     color: white;
     margin-top: 24px;
}

.maintext p{
    margin-top: 12px;
}

.maintext button:hover{
    border: 3px solid rgb(6, 105, 105);
    background: transparent;
    color: rgb(5, 126, 126);
}



/* cards  */
.head{
    text-align: center;
    padding: 33px;
    margin-top: 32px;
}

.head span{
    color: rgb(6, 105, 105);

}


.card{
    display: flex;
    justify-content: center;

}

.card .crd{
    width: 300px;
    height: 500px;
    background-color: #fff;
    margin-inline: 11px;
    /* padding: 22px; */
}

.crd img{
    width: 85%;
    padding: 22px;
    border-radius: 31px;
}

.crdtext{
    /* padding: 8px; */
    margin-left: 22px ;
}

.trend{
    height: 90 vh;
}

.crdtext button{
    width: 110px;
    height: 33px;
    border: none;
    background-color: rgb(1, 116, 116);
    color: white;
    font-size: 19px;
    margin-top: 11px;
}

.crdtext i{
    color: rgb(223, 119, 7);
}


/* blog  */


.blog{
    display: flex;
    justify-content: center;
    width: 520px;
    height: 320px;
    background-color: white;
    margin-inline: 22px;
    border-radius: 11px;
    padding: 22px;
}

.blog{
    height: 40vh;
}

.blog:hover{
    transition: 0.6s ease-in-out;
    width: 540px;
    height: 340px;
}

.blog img{
    width: 45%;

}


.blogtext{
    padding: 12px;
    margin-top: 33px;
    
}

.blogtext p{
    font-family: "sofia";
}

.blogtext a{
    width: 120px;
    padding: 4px;
    text-decoration: none;
    height: 18px;
    color: white;
    font-size: 18px;
    background-color: rgb(5, 120, 120);
    border-radius: 5px;
    position: relative;
    top: 25px;
    
}


.blog .blogtext p{
    margin-bottom: 10px;
}

/* footer section  */

.letter{
    background-color: rgb(2, 2, 75);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 44px;
    margin-top: 30px;
}

.inp{
    display: flex;
}

.inp input{
    width: 330px;
    height: 33px;
    outline: none;
    font-size: 18px;
    border: none;
    text-align:left;
}

.inp button{
    height: 33px;
    width: 100px;
    background-color: rgb(0, 113, 113);
    color: white;
    border: none;

}

.footer{
    display: flex;
    justify-content: center;
    padding: 53px;
}

.footer .footertext{
    margin-inline: 85px;
}


.footertext p{
    margin-top: 11px;
}





/* about us  */

.about{
    display: none;
}

.aboutus{
    background-color: rgb(3, 3, 64);
    color: white;
    padding: 66px;
    font-size: 22px;

}

.me{
    display: flex;
    justify-content: center;
    width: 700px;
    background-color: white;
    padding: 33px;
    margin-left: 22%;
    margin-top: 2%;
}

.me img{
    width: 54%;
    
}



/* contact us  */
.contact{
    display: none;
}

.contactus{
    background-color: rgb(2, 2, 68) ;
    color: white;
    padding: 56px;
    font-size: 19px;

}

.contactme{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-top: 5%;
    /* padding: 22px; */
    background-color: #fff;
    margin-left: 12%;
}


.contactme img{
    width: 55%;
}

.contacttext{
    width: 600px;
    padding: 22px;
}

.contacttext p{
    margin: 12px;

}

.form{
    text-align: center;
    margin-top: 5%;

}


.form input{
    width: 300px;
    height: 27px;
    margin-top: 11px;
    padding: 5px;

}

.form button{
    width: 316px;
    height: 36px;
    background-color: rgb(4, 107, 107);
    color: white;
    font-size: 22px;
    border: none;
    margin-top: 22px;
}


/* cart css  */



.cart{
    display: flex;
    justify-content: center;
    display: none;
}


.carttext{
    padding: 22px;
    margin-top: 22px;

}

.carttext p{
    margin-top:  22px;
}

.carttext h2{
    margin-top: 11px;
}


.carttext .btn button{
    width: 140px;
    height: 40px;
    background-color: rgb(255, 89,0);
    border : none;
    font-size: 22px;
    margin-inline: 11px;
    margin-top: 22px;
    color: white;
    
}

.carttext .back{
    width: 140px;
    color: white;
    height: 40px;
    background-color: rgb(3, 112, 112);
    border : none;
    font-size: 22px;
    margin-inline: 22px;
    margin-top: 22px;
}


/*  dark mode button */

#darkmodebtn{
    border: 4px solid black;
    color: white;
    background-color: black;
    width: 100px;
    margin-top: 5px;
    height: 40px;
    border-radius: 8px;

}


.darkmode{
    background-color: black;
    color: white;
}